/* main conten */
#about_ {
    padding: 25px 25px;
}
.about_title {
    font-family: Phudu;
    font-weight: 400;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* grid about */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 5 / 2; 
    }
    .div1 img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    /* ======== */
    .div2 { 
        font-family: Roboto;
        grid-area: 1 / 2 / 4 / 4; 
    }
    .div2 h2 {
        font-weight: 400;
        font-size: 1rem;
    }
      .div2 p {
        font: 1rem;
      }
      /* table */
      .table_sap {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .table_sap div li {
        list-style: none;
      }
      .table_sap div:nth-child(2) {
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 0px 10px;
      }
    /* ======== */
    .div3 { grid-area: 4 / 2 / 5 / 4; }
    /* ======== */