.profile___ {
    display: flex;
    padding: 15px;
    height: 89vh;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.css-selector {
    background: linear-gradient(270deg, #f9ff00, #f1a200, #ddd014);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* gambar */
.profile_pic img {
    border: 1px solid #343434;
    object-position: -173px 0px;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
}
.cricle___ {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #ddd014;
}

/* txt */
.text__ {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    border-left: 3px solid;
    border-left-style: dashed;
}
.text__ .social_link a p {
    font-size: 0.9rem;
}
/* font */
.text__ p {
    font-family: Roboto;
    font-size: 2rem;
    font: 300;
}
.text__ h1 {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: bold;
}
.text__ h2 {
    font-family: Roboto;
    font-weight: 100;
}
#txt_change {
    font-family: Roboto;
    font-weight: 400;
}
/* =================== */
.social_link {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.social_link a {
    font-size: 0.8rem;
    display: flex;
    font-style: normal;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: rgb(34, 33, 33);
}

.social_link a:hover {
    color: rgb(16, 160, 165);
}