.profile {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.profile .text_ {
    width: 100%;
    margin: 0px 5%;
    gap: 15px;
    height: 95%;
    align-items: start;
    text-align: start;
    font-family: Phudu;
}
.profile .text_ .txt___ h1 {
    color: rgba(19, 18, 18, 0.979);
    font-size: 3.3rem;
}
.profile .imageProfile___ {
    width: 100%;
}
.profile .imageProfile___ img {
    border-left: 5px solid  hsl(216, 65%, 22%); ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* skill */
.skil {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* imgae social media */
.web {
    flex-direction: column;
    gap: 5px;
    display: flex;
    align-items: flex-start;
}
.web .img__ img {
    width: 20px;

}

/* media social */
.social_profile {
    text-align: end;
    position: absolute;
    bottom: 1px;
    right: 22px;
}
.social_profile p {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    font-size: 0.7rem;
    font-family: Phudu;
    color: #ebebeb;
    margin-bottom: -12px;
}
.social_profile a {
    text-decoration: none;
}
.social_profile a svg {
    width: 20px;
    height: 50px;
    fill: hsl(48,90%,55%); 
    margin-left: 0px;
}
/* text */
.text_ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: end;
    font-size: 2rem;
}



