/* Tablet */
/* ==================== */
@media (max-width:768px) {
    /* navigasi */
    header {
        align-items: start;
        flex-direction: column;
    }
    header .brand {
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .navigasi_ a, .contact{
        font-size: 1rem;
    }
    /* akhir Navigasi */
    /* ===================== */

    /* profile */
    .profile___ {
        flex-direction: column;
    }
}

/* mobile */ 
/* ==================== */
@media (max-width:480px) {
    /* navigasi */
    header {
        flex-direction: row;
        align-items: center;
    }
    .navigasi_ {
        display: none;
    }
    /* menu ios jeung android */
    .navigasi_.menu {
        z-index: 1;
        transition: 0.5s ease;
        background-color: rgb(109, 212, 212);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        color: white;
    }
    #nengDonat {
        display: block;
    }

    /* akhir navigasi
    ===================== */

    /* profile */
    .profile___ {
        width: 100%;
        height: 100%;
    }
    /* text */
    .text__ {
        padding-top: 15px;
    }
    .text__ p {
        font-size: 1.6rem;
    }
    .text__ h1 {
        font-size: 2rem;
    }
    .text__ h2 {
        font-size: 1.5rem;
    }
    #txt_change {
        font-size: 1.5rem;
    }
    /* image */
    .profile_pic img {
        border-radius: 0;
        object-position: center;
        width: 100%;
        height: 360px;
    }
    .profile_pic {
        width: 100%;
    }
}