@import url(nav_.css);
@import url(landing_.css);
@import url(me_.css);
@import url(night_.css);
@import url(hamburger_.css);
@import url(footer.css);
@import url(clinet.css);
@import url(project.css);
@import url(mediaQuery/mediaQery.css);
@import url(contac_.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    z-index: 0;
    position: relative;
    top: -99px;
    margin-bottom: -99px;
}

.des_.night {
    background-color:hsl(198,90%,55%); ;
}
body.night {
    background-color: hsl(198,90%,15%);  
}
.text_profile.night {
    color: hsl(0,0%,100%) ;
}
.landing__.night {
    color: hsl(0,0%,100%) ;
}
#kata_ganti.night {
    color: hsl(198,90%,55%);
}
header.night {
    background-color: hsl(198,90%,55%);
}
footer.night {
    background-color: hsl(198,90%,55%);
}

.plus_.night{
    color: hsl(198,90%,55%);
}
.clinet.night {
    background-color: hsl(198, 75%, 29%);  
}