/* navigasi */
header {
    z-index: 10;
    border-radius: 50px;
    margin: 0px 5%;
    position: sticky;
    padding: 25px;
    top: -17px;
    background-color: #65451F;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Animasi */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
/* end */

.brand {
    cursor: pointer;
    font-size: 1.2rem;
    font-style: normal;
    font-family: Phudu;
    color: #FFF8EA;
}
.navigation {
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav_menu {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}
.nav_item a {
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 15px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #FFF8EA;
}
.nav_item a:hover{
    color: #594545;
    background-color: #FFF8EA;
    transition: 0.3s ease-out;
}

/* media Query */
@media (max-width:890px) {
    header {
        border-radius: 0;
    }
    .navigation {
        margin: 0;
    }
    #nav_menu {
        display: none;
    }    
    #nav_menu.aktiv_menu {
        display: flex;
        flex-direction: column;
        top: 109PX;
        height: 522px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #594545;
        position: fixed;
        width: 80%;
        border-radius: 10px;
    }
    #nav_menu li.menu_open {
        background-color: #815B5B;
        text-align: center;
        width: 70%;
        height: 50px;
    }

}

/* Ending */
