.landing_ {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: no-repeat;
    background-size: 400px;
    background-position: left -16px;
    align-items: center;
    gap: 10px;
    padding: 10px 60px;
}
#kata_ganti{
    color: #594545;
    font-weight: bolder;
}
.plus_ {
    color: red;
}
.landing_ h1 {
    font-weight: 400;
    font-family: Phudu;
    font-size: 3rem;
}

.landing_ p {
    font-size: 1.3rem;
font-family: Phudu;
    font-weight: 100;
}

/* emot */