.me_ {
    display: flex;
    flex-direction: row;
    background-position: right -11px;
    justify-content: center;
    padding: 34px 15%;
}
.des_ {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}