@import url(nav_.css);
@import url(landing_.css);
@import url(me_.css);
@import url(night_.css);
@import url(hamburger_.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    z-index: -1;
    position: relative;
    top: -100px;
}
main.night {
    background-color: hsl(198,90%,15%);  
    color:  hsl(0,0%,100%);
}
#kata_ganti.night {
    color: hsl(198,90%,55%);
}
header.night {
    background-color: hsl(198,90%,55%);
}